# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
.history/

# Misc
.DS_Store
.env
.coverage
htmlcov/
.cache/

# Testing
.pytest_cache/
coverage.xml
.coverage.*
.hypothesis/
.tox/
nosetests.xml
coverage/

# Documentation
docs/_build/
docs/_static/
docs/_templates/
_build/
_static/
_templates/

# Distribution / packaging
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Generated logs
logs/
*.log
